# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages
name: Node.js Package

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm ci
      - run: npm test

  publish-npm:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write 
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          # We REMOVE registry-url here to prevent the conflicting .npmrc creation
      
      - run: npm ci

      # We manually set the config to use the OIDC token
      - name: Publish to npm
        run: |
          npm config set //registry.npmjs.org/:aud=https://registry.npmjs.org/
          npm config set //registry.npmjs.org/:_authToken="" 
          npm publish --provenance --access public
